.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.logo-text{
    width: 100px;
}
.bi{
    margin-right: 8px;
}
.story{
    background-color: white;
    top: 0;
    padding-top: 70px;
    padding-bottom: 40px;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.posts{
    margin-top: 95px;
}
.dp{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.image{
    width: 500px;
    height: 350px;
}
.username{
    margin-bottom: 7px;
    align-items: center;
}
.interact{
    margin-top: 5px;
}
.suggestions .dp{
    width: 60px;
    height: 60px;
}
.suggestions small{
    margin-left: 100px;
   margin-bottom: 8px;
}
.suggestions{
    position: fixed;
}

.gradient-border{
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff00ff, #ff6600, #ffcc00);
}
.inner-story{
    align-items: center;
    margin: 5px;
    width: 65px;
}
.inner-story img{
    width: 59px;
    height: 59px;
}